

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Danh sách nhân viên</h3>
            </div>
          <div class="box-body">
              <table class="table table-bordered">
                  <tbody><tr>
                    <th style="width: 10px">#</th>
                    <th>Task</th>
                    <th>Progress</th>
                    <th style="width: 40px">Label</th>
                  </tr>
                  <tr>
                    <td>1.</td>
                    <td>Update software</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-red">55%</span></td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Clean database</td>
                    <td>
                      <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-yellow">70%</span></td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>Cron job running</td>
                    <td>
                      <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-light-blue">30%</span></td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Fix and squish bugs</td>
                    <td>
                      <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-green">90%</span></td>
                  </tr>
                </tbody></table>
          </div>
          <div class="box-footer">
          </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Lịch sử ra vào</h3>
            </div>
          <div class=" box-body">
              <div style="display: block;">
                  <canvas baseChart 
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
                </div>
          </div>
          <div class="box-footer">
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Monthly </h3>
            </div>
          <div class="content-div box-body"></div>
          <div class="box-footer">
          </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>

              </div>
            <div class="box-body">
                <div class="char-bar1" style="display: block;">
                    <canvas baseChart 
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
            </div>
            <div class="box-footer">
            </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="box">
              <div class="box-header with-border">
                  <h3 class="box-title">Name: </h3>

                </div>
              <div class="content-div box-body"></div>
              <div class="box-footer">
              </div>
          </div>
        </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="box">
              <div class="box-header with-border">
                  <h3 class="box-title">Real time log</h3>
                </div>
              <div class="content-div box-body"></div>
              <div class="box-footer">
              </div>
          </div>
        </div>
  </div>
</div>
