<div class="container">
  <div class="row">
      <div class="col-md-6 col-xs-6">
          <div class="form-group">
              <br>
              <label for="usr">ID User:</label>
              <input [(ngModel)]="user_id"  type="number" class="form-control" >
            </div>
            <div class="form-group">
              <label for="pwd">Name:</label>
              <input type="text" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <button (click)="triggerSnapshot();" class="btn btn-primary" value="" id="pwd">Take Photo</button>
                <button (click)="submitImage();" class="btn btn-primary"  id="pwd2">Submit</button>
            </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="camera">
          <webcam [height]="400" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
          ></webcam>
        </div>
      </div>
  </div>
  <div class="row height-body" *ngIf="webcamImage">
    <ng-container *ngFor="let item of list_image; let i = index" [attr.data-index]="i">
        <div class="container-img col-md-3" >
            <img [src]="item" alt="Snow" style="width:100%">
            <button (click)="removeItem($event, i)" class="btn-delete">delete</button>
        </div>
    </ng-container>
  </div>
</div>